
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: -1000px;
    width: 45%;
    height: 100vh;
    background: #edeaea;
    transition: right .5s ease-in-out;
    z-index: 999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 12px;
    overflow-y: auto;
    color: #000;
}

.no-scroll{
    overflow: hidden;
}

.item_border {
    padding: 12px;
    border: solid 1px #dad1d1;
}

.item_title{
    padding: 16px;
}

.imgBox{
    width: 50%;
}

.count {
    button {
        border: solid 1px #000;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 2px;
        font-size: 1rem;
        background-color: #ffffff;
    }

    span {
        margin: 0px 8px;
    }
}

.line{
    border-top: #000 1px solid;
    padding: 40px 0px 30px 0;
}