.cartBox{
    position: relative;
    .cartCount{
        position: absolute;
        margin-left: 40px;
        max-width: 35%;
        max-height: 40%;
        border-radius: 100%;
        border:solid 1px #e0dbdb;
        background-color: #c7c3c3;
        z-index:997;
        color:black;
        font-size: 10px;
        text-align: center;
        padding: 0 8px 0 8px;
    }
}

