.form-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .left{
    margin-left: 45px;
  }