.left {
  margin-left: 45px;
}
.box-container {
  padding-top: 30px;
}
.img-container {
  width: 100%;
  padding-bottom: 80px;
}
.mb-20 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #e3ede7;
}
